<div class = "beerpage">

	<center>
		<h1>Charlotte's Best Beers!</h1>
		<img src="http://media-cache-ak0.pinimg.com/736x/27/b4/5b/27b45b3cac89dfcc59f47fa588880c39.jpg">
		<br>

		<%= link_to "Check Our Favorites",
			beers_path, class: "btn btn-default" %>
	</center>
</div>

